<div class="panel">
	<h3 class="panel-header">About Me</h3>

	<div class="panel-body">
		<p>
			I live in Pittsburgh, Pennsylvania and work as a Software Engineer at UPMC. Although my preferred platform is Linux, I'm currently in a .NET environment at work. In my free time I like to work on side projects - my latest project being a class scheduler in Node.js – I find it enjoyable and good way to keep up to date with the latest technologies. Besides programming I enjoy snowboarding in the winter and playing disk golf in the warmer seasons. If you'd like to contact me for any reason (besides for an open position, I get enough recruiter spam as it is) please send me an <a href="mailto:kyleschattler@gmail.com">email</a>.
		</p>
	</div>
</div>

<div class="panel-overlay">
	<i class="fa fa-cog fa-spin"></i>
</div>