<div class="panel">
	<h3 class="panel-header">Resume</h3>

	<div class="panel-body">
    <div class="resume">
		  {{{resume}}}
    </div>
	</div>
</div>

<div class="panel-overlay">
	<i class="fa fa-cog fa-spin"></i>
</div>
