/* _base.scss */

@import "modules/all";

a {
	color: $cyan;
	text-decoration: none;
}

section[role='main'] {
	padding-top: $mobileHeaderHeight;
	padding-left: $mobileLeftNavWidth;
	height: 100%;
	background-color: $white;

	@include transition(padding-left 0.8s ease);
}

.background-panel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
}

#background-canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.panel {
	position: relative;
	z-index: $panelZIndex;

	width: 100%;
	height: 100%;
	float: right;

	padding-top: $mobilePanelTopPadding;

	background-color: $white;
	@include transition(padding-top 0.8s ease);

	& .panel-header {
		width: 100%;
		color: $headerFontColor;
		background-color: $white;

		font-size: $mobilePanelHeaderFontSize;
		line-height: $mobilePanelHeaderLineHeight;

		padding: 2px 24px;

		@include transition(font-size 0.8s ease);
	}

	& .panel-body {
		width: 100%;
		padding: 8px 24px;
		background-color: $white;

		@include transition(font-size 0.8s ease);
	}
}

.panel-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $panelOverlayZIndex;
	height: 100%;
	width: 100%;

	background-color: #555;
	@include transparency(.8);
}

.pull-right {
	@include pull-right;
}

.pull-left {
	@include pull-left;
}

.noscroll {
	overflow: hidden;
}

.loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $headerZIndex + 1;

	width: 0%;
	height: 3px;

	background-color: $cyan;

	@include transition(width 0.8s ease);
}

.list {
	list-style-type: none;

	.item {
		.title {
			padding-bottom: 6px;
		}

		margin-bottom: 10px;
	}
}

.fade {
	@include transition(visibility 0s linear 0.8s, opacity 0.8s ease);
}