/* _button.scss */

.btn {
  display: block;

  padding: 6px 12px;
  margin-bottom: 6px;
  border-radius: 6px;

  background-color: $buttonBackgroundColor;
  color: $buttonColor;

  border: 1px solid $buttonBorderColor;

  @include transition(background-color 0.3s ease, border-color 0.3s ease);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:hover {
    background-color: $buttonHoverBackgroundColor;
    border: 1px solid $buttonHoverBorderColor;
  }

  &:active {
    @include transition(none);
    background-color: $buttonActiveBackgroundColor;
  }

  &.btn-primary {
    background-color: $primaryColor;
    color: $altTextColor;
    border-color: $primaryDarkColor;

    &:hover {
      background-color: $primaryDarkColor;
    }

    &:active {
      background-color: $primaryColor;
      color: $altTextColor;
    }
  }
}

@media #{$mq-medium} {
  .btn {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 4px;
  }
}
