/* _mediaQueries.scss */

/* tablets */
@media only screen and (min-width: 768px) {
  section[role='main'] {
    padding-top: $desktopHeaderHeight;
    padding-left: $desktopLeftNavWidth;
  }

  .search-results-overlay {
    & .search-overlay-header {
      h2 {
        font-size: $desktopPanelHeaderFontSize;
        line-height: $desktopPanelHeaderLineHeight;
      }
    }
  }
}

/* desktop */
@media only screen and (min-width: 1225px) {
  body,
  button,
  input[type="button"],
  input[type="submit"] {
    font-size: $desktopFontSize;
    line-height: $desktopLineHeight;
  }
}

/* large desktops */
@media only screen and (min-width: 1500px) {
  section[role='main'] {
    padding-left: $desktopLeftNavMaxWidth;
  }
}
