/* _nav.scss */

%generic-navbar {
	z-index: 100;
	width: 100%;
	height: $mobileHeaderHeight;
	font-size: $mobileHeaderFontSize;
	line-height: $mobileHeaderLineHeight;
}

%generic-navbar-content {
	position: relative;
	height: $mobileHeaderHeight;
	padding: 0 6px;
}

%horizontal-nav {
	position: relative;
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}

.navbar {
	@extend %generic-navbar;
	position: fixed;

	& .navbar-content {
		@extend %generic-navbar-content;

		background-color: $headerBackgroundColor;
		color: $headerColor;
		//border-bottom: 1px solid $headerBackgroundColor;
		@include box-shadow(1px, 1px, 1px, 1px, $blackLight);
	}

	& .brand {
		position: relative;
		float: left;
		left: 2.4em;

		& a,
		& a:link,
		& a:visited {
			color: $white;
		}

		& a:hover {
			color: $cyan;
			border-bottom: 1px solid $cyan;
			@include transition(color 0.8s ease, border 0.8s ease);
		}
	}

	& .nav > li {
		float: left;
		height: 100%;
	}

	& a,
	& a:link,
	& a:visited {
		display: block;
		color: $headerColor;
		border-bottom: 1px solid transparent;
		@include transition(color 0.8s ease, border 0.8s ease);
	}

	& a:hover {
		color: $cyan;
		border-bottom: 1px solid $cyan;
		@include transition(color 0.8s ease, border 0.8s ease);
	}
}

ul.nav {
	@extend %horizontal-nav;

	& li {
		display: inline-block;

		& a,
		& a:link,
		& a:visited {
			width: 100%;
			height: 100%;
			padding: 0 0.5em;
		}
	}

	&.pull-right {
		@include pull-right;
	}
}

.navbar form {
	padding: 0;
	margin: 0;
	float: left;

	& input[type="text"],
	& input[type="password"] {
		background-color: $headerBackgroundColor;
		color: $white;
		font-weight: bold;
		border: 1px solid $white;
		outline: none;
		@include box-shadow(0);
	}
}

.navbar form.search {
	position: absolute;
	width: 100%;

	& input[type="text"] {
		width: 0;
		border: 0;
		@include placeholder-color($white);
		@include border-radius(0);
		@include transition(width 1s ease, border-color 0.8s ease);

		&:focus {
			width: 100%;
			border: 1px solid $white;
			@include transition(width 1s ease, border-color 0.8s ease);
		}
	}

	& .search-overlay {
		position: relative;
		z-index: 10;

		& a,
		& a:link,
		& a:visited {
			color: $white;
			position: absolute;
			left: 8px;
			z-index: 100;
			padding: 0 12px;
			margin-left: -6px;

			@include transition(color 0.8s ease);
		}

		& a:hover,
		& a:active {
			color: $cyan;
			border-bottom: 1px solid $cyan;
			@include transition(color 0.8s ease, border 0.8s ease);
		}
	}
}

.search-results-overlay {
	position: fixed;
	top: $mobileHeaderHeight;
	z-index: 99;
	overflow-y: scroll;
	width: 100%;
	min-width: 100%;

	height: 100%;
	min-height: 100%;

	background-color: $blackLight;
	color: $grayLight;

	font-size: 18px;

	@include transparency(0.95);

	& a,
	& a:link,
	& a:visited {
		display: inline-block;
		padding: 4px;
		color: $white;
		@include transition(color 0.8s ease);
	}

	& a:hover,
	& a:active {
		color: $cyan;
		@include transition(color 0.8s ease);
	}

	& .row,
	& .row-fluid {
		height: auto;
	}

	& .search-results-container {
		position: static;
		height: 1000px;
		padding: 10px 0;
	}

	& .search-overlay-header {
		width: 100%;
		text-align: center;
	}

	& .search-overlay-close {
		position: fixed;
		right: 20px;
		font-size: 24px;
	}

	& ul.search-overlay-list {
		display: block;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;

		& li {
			display: block;

			& a,
			& a:link,
			& a:visited {
				width: 100%;
				padding: 5px 10px;
				padding-left: 20px;
				color: $grayLighter;

				@include transition(background-color 0.8s ease);
			}

			& a:hover,
			& a:active {
				background-color: $cyan;
				@include transition(background-color 0.8s ease);
			}
		}

		& li.list-title {
			display: block;
			font-size: 25px;
			color: $white;

			& a,
			& a:link,
			& a:visited {
				background-color: $blackLighter;
				width: 100%;
				padding: 2px 10px;

				@include transition(color 0.8s ease);
			}

			& a:hover,
			& a:active {
				color: $cyan;

				@include transition(color 0.8s ease);
			}
		}

		& .list-description {
			margin: 8px 0;
			padding-left: 10px;
		}
	}
}