/* _nav.scss */

%generic-navbar {
	z-index: $headerZIndex;
	width: 100%;
	height: $mobileHeaderHeight;
	font-size: $mobileHeaderFontSize;
	line-height: $mobileHeaderLineHeight;
}

%generic-navbar-content {
	position: absolute;
	left: 0;
	right: 0;
	height: $mobileHeaderHeight;
	padding: 0 6px;
}

%generic-nav {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navbar {
	@extend %generic-navbar;
	position: fixed;

	@include transition(height 0.8s ease);

	& .navbar-content {
		@extend %generic-navbar-content;

		background-color: $headerBackgroundColor;
		color: $headerColor;

		@include transition(height 0.8s ease);
	}

	& .brand {
		height: 100%;
		position: relative;
		float: left;
		left: 2.4em;
	}

	& a,
	& a:link,
	& a:visited {
		display: block;
		color: $headerColor;
		border-bottom: 1px solid transparent;
		@include transition(color 0.8s ease, border-bottom 0.8s ease);
	}

	& a:hover {
		color: $cyan;
		border-bottom: 3px solid $cyan;
		text-decoration: none;
		@include transition(color 0.8s ease, border-bottom 0.8s ease);
	}
}

ul.nav {
	@extend %generic-nav;
	position: relative;
	font-size: $mobileHeaderFontSize;

	& li {
		display: inline-block;
		overflow: hidden;
		height: 100%;

		& a,
		& a:link,
		& a:visited {
			line-height: $mobileHeaderLineHeight;
			padding: $mobileSocialLinkPadding;
			height: 100%;
			width: 100%;

			@include transition(padding 0.8s ease, color 0.8s ease, border-bottom 0.8s ease);
		}
	}
}

ul.nav.vertical {
	margin-top: 10px;
	& li {
		display: block;
		height: auto;

		& a {
			display: block;
			width: 100%;
			padding: 0;
		}
	}
}

.side-nav {
	position: fixed;
	top: $mobileHeaderHeight;
	z-index: $leftNavZIndex;

	background-color: $cyan;

	@include box-shadow(inset -7px, 7px, 14px, -7px, #444);

	width: $mobileLeftNavWidth;
	height: 100%;

	@include transition(width 0.8s ease, min-width 0.8s ease);

	& .nav li {
		text-shadow: 0 0 6px #444;
		position: relative;
	}

	& .nav i {
		display: block;
		font-size: $mobileLeftNavIconSize;
	}

	& .nav a,
	& .nav a:link,
	& .nav a:visited {
		font-size: $mobileLeftNavFontSize;
		color: $white;
		outline: none;
		@include transition(color 0.8s ease);
	}

	& .nav a:hover, 
	& .nav a:active {
		text-decoration: none;
	}

	& a span {
		position: relative;
	}

	& a::before {
		position: absolute;
		right: 0;
		top: 8px;
		width: 0;
		height: 0;
		
		@include triangle(10px, $white);
		border-right: 0px solid $white;

		content: "";
		@include transition(width 0.8s ease, border-right 0.8s ease);
	}

	& a.selected-link::before {
		display: block;
		border-right: 10px solid $white;
	}

	& .thumb {
		display: block;
		margin: 0 auto;
		width: 0;
		height: 0;

		@include transparency(0);
	}

	& .footer {
		position: absolute;
		z-index: -1;

		bottom: 50px;
		width: 100%;

		color: $white;
		font-size: 10px;
		line-height: 14px;
		text-align: center;

		& .name {
			display: none;
		}
	}
}

.side-nav-content {
	text-align: center;
	z-index: 20;
}

.navbar form {
	padding: 0;
	margin: 0;
	float: left;

	& input[type="text"],
	& input[type="password"] {
		background-color: $headerBackgroundColor;
		color: $white;
		font-weight: bold;
		border: 1px solid $white;
		outline: none;
		@include box-shadow(0);
	}
}

.navbar .search {
	position: absolute;
	width: 100%;

	& .search-box {
		width: 0;
		height: $mobileHeaderHeight;
		border: 0;

		margin-left: -6px;
		padding-left: 42px;

		@include placeholder-color($white);
		@include border-radius(0);
		@include transition(width 1s ease, border-color 0.8s ease);
	}

	&.search-active .search-box {
		width: 100%;
		border: 1px solid $white;
		@include transition(width 1s ease, border-color 0.8s ease);
	}

	& .search-overlay {
		position: relative;
		z-index: 10;

		& a,
		& a:link,
		& a:visited {
			color: $white;
			position: absolute;
			left: 8px;
			z-index: 100;
			padding: 0 12px;
			margin-left: -6px;
			border-bottom: none;

			@include transition(color 0.8s ease);
		}

		& a:hover,
		& a:active {
			color: $cyan;
			text-decoration: none;
			@include transition(color 0.8s ease);
		}
	}
}

.search-results-overlay {
	position: fixed;
	top: $mobileHeaderHeight;
	z-index: 99;
	overflow-y: scroll;
	width: 100%;
	min-width: 100%;

	background-color: $blackLight;
	color: $grayLight;

	font-size: 18px;

	& a,
	& a:link,
	& a:visited {
		display: inline-block;
		padding: 4px;
		color: $white;
		@include transition(color 0.8s ease);
	}

	& a:hover,
	& a:active {
		color: $cyan;
		text-decoration: none;
		@include transition(color 0.8s ease);
	}

	& .row,
	& .row-fluid {
		height: auto;
	}

	& .search-results-container {
		position: static;
		height: 1000px;
		padding: 10px 0;
	}

	& .search-overlay-header {
		width: 100%;
		text-align: center;
	}

	& .search-overlay-close {
		position: fixed;
		right: 20px;
		font-size: 24px;
	}

	& ul.search-overlay-list {
		display: block;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;

		& li {
			display: block;

			& a,
			& a:link,
			& a:visited {
				width: 100%;
				padding: 5px 10px;
				padding-left: 20px;
				color: $grayLighter;

				@include transition(background-color 0.8s ease);
			}

			& a:hover,
			& a:active {
				background-color: $cyan;
				text-decoration: none;
				@include transition(background-color 0.8s ease);
			}
		}

		& li.list-title {
			display: block;
			font-size: 25px;
			color: $white;

			& a,
			& a:link,
			& a:visited {
				background-color: $blackLighter;
				width: 100%;
				padding: 2px 10px;

				@include transition(color 0.8s ease);
			}

			& a:hover,
			& a:active {
				color: $cyan;
				text-decoration: none;
				@include transition(color 0.8s ease);
			}
		}

		& .list-description {
			margin: 8px 0;
			padding-left: 10px;
		}
	}

	&.fade.in {
		visibility: visible;
		@include transparency(1);
		@include transition-delay(0);

		&.overlay {
			@include transparency(0.95);
		}
	}

	&.fade.out {
		visibility: hidden;
		@include transparency(0);
	}
}