/* _colors.scss */

// Color scale
$black: #000;
$blackLight: lighten($black, 10%);
$blackLighter: lighten($black, 20%);

$gray: #c5c5c5;
$grayDarker: darken($gray, 20%);
$grayDark: darken($gray, 10%);
$grayLight: lighten($gray, 10%);
$grayLighter: lighten($gray, 20%);

$white: #fff;
$whiteDarker: darken($white, 20%);
$whiteDark: darken($white, 10%);

$blue: #428bca;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #c64a49;

// Site colors
$primaryColor: $red;
$primaryDarkColor: darken($primaryColor, 10%);
$backgroundColor: $white;
$contrastColor: #ecebe8;
$textColor: #909090;
$altTextColor: $white;
$linkColor: $primaryColor;

$headerBackgroundColor: $blackLighter;
$headerColor: $white;

$buttonBackgroundColor: $white;
$buttonColor: $blackLighter;
$buttonBorderColor: $gray;

$buttonHoverBackgroundColor: $whiteDark;
$buttonHoverBorderColor: $grayDark;

$buttonActiveBackgroundColor: $gray;
