/* sizes.scss */

//Mobile sizes
$mobileContainerWidth: 100%;
$mobileHeaderHeight: 40px;
$mobileLeftNavWidth: 60px;

//Mobile fonts
$mobileFontSize: 16px;
$mobileLineHeight: 26px;
$mobileHeaderFontSize: 18px;
$mobileHeaderLineHeight: 40px;
$mobileLeftNavFontSize: 13px;
$mobileLeftNavIconSize: 30px;

$mobileLandscapeLeftNavIconSize: 22px;
$mobileLandscapeArrowTopSize: 4px;

//Mobile padding
$mobileSocialLinkPadding: 0 8px;

//Desktop sizes
$desktopHeaderHeight: 48px;
$desktopLeftNavWidth: 60px;
$desktopLeftNavMinWidth: 170px;
$desktopLeftNavWidth: 20%;
$desktopLeftNavMaxWidth: 300px;

//Desktop fonts
$desktopHeaderFontSize: 34px;
$desktopLeftNavFontSize: 18px;
$desktopHeaderLineHeight: 48px;

//Desktop padding
$desktopSocialLinkPadding: 0 14px;

//z-indexs
$headerZIndex: 100;
$leftNavZIndex: 99;
$panelZIndex: 97;
$panelOverlayZIndex: 98;